.homeimage {
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
    background: url("../images/home.jpg") no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.homeimage p {
    color: white;
    font-size: 5rem;
    text-align: center;
    @media screen and (max-width: 1000px) {
        font-size: 3rem;
    }
    @media screen and (max-width: 500px) {
        font-size: 2rem;
    }
}

.aboutimage {
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
    background: url("../images/aboutme.jpg") no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.navbar {
    color: white;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.7);
}

.navbar a {
    font-size: 3rem;
    @media screen and (max-width: 1000px) {
        font-size: 1.5rem;
    }
    @media screen and (max-width: 500px) {
        font-size: 1rem;
    }
    @media screen and (max-width: 400px) {
        font-size: 1rem;
    }
}

.techstack {
    margin: 3% 0%;
    color: white;
    font-weight: bold;
    font-size: 2.3rem;
    text-align: center;
    @media screen and (max-width: 1250px) {
        font-size: 1.5rem;
    }
    @media screen and (max-width: 500px) {
        font-size: 1rem;
    }
    @media screen and (max-width: 400px) {
        font-size: 1rem;
    }
}

.techstackDiv {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 3% 0%;
}

.aboutpage {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;

    a {
        font-size: 2.5rem;
        @media screen and (max-width: 1000px) {
            font-size: 2rem;
        }
        @media screen and (max-width: 500px) {
            font-size: 1.5rem;
        }
        @media screen and (max-width: 400px) {
            font-size: 1rem;
        }
    }
}

.hello {
    color: white;
    font-size: 5rem;
    text-align: center;
}

.aboutMe {
    background-color: black;
    height: 100vh;
}
